<!DOCTYPE html>
<html>
<head>
  <title>MyStories</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class = "navbar navbar-default navbar-fixed-top">
	<nav>
		<div class = "container">
			<ul class = "nav nav-pills pull-right">
				<li><%= link_to "Домой", root_path %></li>
			</ul>
		</div>
	</nav>
</header>

<div class = "navbar navbar-default navbar-fixed-bottom">
	<div class = "container">
		<ul class = "nav nav-pills pull-right">
			<li><%= link_to "Обо мне", about_path %></li>
		</ul>
	</div>
</div>

<div class = "container">
	<%= yield %>
</div>

</body>
</html>
